<%- include('../header', {title: 'メンバー'}) %>
<h1><%= member.name %></h1>
<ul>
  <li>チーム：<%= member.team %></li>
  <li>名前：<%= member.name %></li>
  <li>一言：<%= member.comment %></li>
  <p><a href="/members">メンバー一覧に戻る</p>
</ul>
<%- include('../footer') %>
