<%- include('../header', {title: 'ブログ'}) %>

  <form method="post" action="/posts/<%= id %>?_method=PUT">
    <input type="text" name="title" value="<%= post.title %>">
    <input type="text" name="body" value="<%= post.body %>">
    <input type="hidden" name="id" value="<%= id %>">
    <input type="hidden" name="_csrf" value="<%= csrftoken %>">
    <input type="submit" value="記事を編集">
  </form>
  <p><a href="/posts">記事一覧に戻る</p>
<% include ../footer %>
